/* font trong css */
p {
    font-style: italic;   /* kiểu chữ */
    font-variant: small-caps;
    font-weight: bold;  /* in đậm */
    font-size: 20px;   /* cỡ chữ*/
    font-family: Arial, Helvetica, sans-serif; /* font chữ */
    font: italic small-caps bold 20px Arial;
}
   /* text trong css */
p {
    color: red;
    text-align: center;
    text-transform: uppercase;
    text-decoration: line-through black;
}
/* css padding */
p{
    background-color: blue ;
    padding: 10px;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: top;
    background-size: auto;
}
/* css border */
p{
    /* border-style: solid;
    border-color: red;
    border-width: 10px; */
    border: 10px solid black;
    border-radius: 10px;
}
/* css outline tương tự */
/* css margin */
p{
    margin: 50px;
}